[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_0900_ai_ci
default-time-zone=+00:00
default-storage-engine=InnoDB
sql-mode=STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
require-secure-transport=ON
tls-version=TLSv1.2,TLSv1.3
ssl-ca=/etc/mysql/ziyoufang-ca.pem
ssl-cert=/etc/mysql/ziyoufang-server-cert.pem
ssl-key=/etc/mysql/ziyoufang-server-key.pem
tls-certificates-enforced-validation=ON
skip-name-resolve=ON
max-connections=50
innodb-buffer-pool-size=256M

[client]
default-character-set=utf8mb4
